.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal { }
.jcarousel-skin-tango .jcarousel-container-vertical { width:195px; height:384px; padding:0px; margin-bottom:10px; }
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal { }
.jcarousel-skin-tango .jcarousel-clip-vertical { width:195px; height:384px; }
.jcarousel-skin-tango {}
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 5px; margin-right:5px; }
.products-scroller .product-name {
    background: #000;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    padding: 5px 0 10px;
    text-align: center;
    width: 220px !important;
}
.products-scroller .product-name a { font-size:13px; font-weight:normal; color:#fff; }
.products-scroller .product-image {}
.products-scroller .price-box { float: right; margin: 5px 10px 5px 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-tango .jcarousel-item-vertical { margin-bottom: 10px; }
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000; }
/**

 *  Horizontal Buttons

 */

.jcarousel-skin-tango .jcarousel-next-horizontal { position: absolute; top: 43px; right: 5px; width: 32px; height: 32px; cursor: pointer; background: transparent url(http://www.smackcoders.com/skin/frontend/default/megashop/images/next-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { left: 5px; right: auto; background-image: url(http://www.smackcoders.com/skin/frontend/default/megashop/images/prev-horizontal.png); }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,  .jcarousel-skin-tango .jcarousel-next-horizontal:focus { background-position:0 -85px; }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { background-position: 0 -85px; }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: -96px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal { position: absolute; top: 43px; left: 5px; width: 32px; height: 32px; cursor: pointer; background: transparent url(http://www.smackcoders.com/skin/frontend/default/megashop/images/prev-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { left: auto; right: 5px; background-image: url(http://www.smackcoders.com/skin/frontend/default/megashop/images/next-horizontal.png); }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,  .jcarousel-skin-tango .jcarousel-prev-horizontal:focus { background-position:-32px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { background-position: -22px -85px;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,  .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,  .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,  .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position:-0 -84px; }
.jcarousel-skin-tango .jcarousel-next-vertical { background: url(http://www.smackcoders.com/skin/frontend/default/megashop/images/next-vertical.png) no-repeat scroll left bottom transparent; bottom: 2px; cursor: pointer; height: 19px; left: 80px; position: absolute; width: 32px; }
.jcarousel-skin-tango .jcarousel-next-vertical:hover,  .jcarousel-skin-tango .jcarousel-next-vertical:focus { background-position: 0 2px; }
.jcarousel-skin-tango .jcarousel-next-vertical:active { background-position: 0 -64px; }
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,  .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,  .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,  .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active { cursor: default; background-position: 0 -96px; }
.jcarousel-skin-tango .jcarousel-prev-vertical { background: url(http://www.smackcoders.com/skin/frontend/default/megashop/images/prev-vertical.png) no-repeat left bottom; cursor: pointer; height: 17px; left: 80px; position: absolute; top: 0; width: 32px; }
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,  .jcarousel-skin-tango .jcarousel-prev-vertical:focus { background-position: 0 0; }
.jcarousel-skin-tango .jcarousel-prev-vertical:active { background-position: 0 -64px; }
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,  .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,  .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,  .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active { cursor: default; background-position: 0 -18px; }
/*new*/
.products-scroller .actions { float: left; margin-top: 5px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal { background:  url(http://www.smackcoders.com/skin/frontend/default/megashop/images/prev.png) no-repeat; cursor: pointer; height: 32px; left:-36px; position: absolute; top:74px; width: 32px; }
.jcarousel-skin-tango .jcarousel-next-horizontal { background: url(http://www.smackcoders.com/skin/frontend/default/megashop/images/next.png) no-repeat; cursor: pointer; height: 32px; position: absolute; right:-32px; top:74px; width:32px; }
.jcarousel-item{
    /*background: none repeat scroll 0 0 #000;*/
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding:5px;
	height:164px;
	width:220px;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
}
.inner_pan{
	display:none;
	background:#000;
    float: left;
    height: 154px;
    padding: 5px;
    width: 210px;
	position:absolute;
	left:0;
	top:0;
}
.outer a:hover.products-scroller .inner_pan{display:block;}
.special{margin-top:15px; float:left; width:1000px;}
a.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
a.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
a.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
a.button span {
    color: #000000 ;
    float: left;
    padding:10px;
    text-align: center;
    white-space: nowrap;
/*   background:#4A4A4A ;*/
    background:#6B824A;
}
a.button span span {
    background-position: 100% 0;
    padding: 0 10px;
        color:#fff;
}
a.button:hover span{/*background:#B2BBC1;*/ background:#4A4A4A; }
a.button:hover span span{/*background:#B2BBC1;*/ background:#4A4A4A;  text-shadow: 1px 2px 1px #666666; }
.category-products .product_icons a.button {
    float: left;
    margin: 10px;
}
